<template>
  <div>
    <h2 id="user">Welcome, {{ name }}</h2>
    <img id="logo" alt="logo" width="7.5%" src="../assets/logomini.png" />
    <h1>Be Like Intranet</h1>
    <h3>What's new?:</h3>
    <div class="news" v-for="(entry, index) of news" :key="index">
      <a class="news__link" :href="entry.link" target="_blank"
        ><span>{{ entry.name }}</span></a
      >
    </div>
  </div>
</template>

<script>
import store from '../store'
export default {
  data() {
    return {
      name: '',
      news: [
        {
          name: 'Christmas Lunch',
          link: 'https://www.linkedin.com/posts/belike-software_teambelike-activity-6875106526219026432-2u04',
        },
        {
          name: 'We are hiring',
          link: 'https://www.linkedin.com/posts/belike-software_hola-en-wwwbelikesoftwarecom-estamos-buscando-activity-6875061327912554497-jesh',
        },
        {
          name: 'Valencia C.F digital transformation',
          link: 'https://www.linkedin.com/posts/belike-software_s03e08-la-transformaci%C3%B3n-digital-en-el-valencia-activity-6826156625145946112-QCMo',
        },
      ],
    }
  },

  mounted(){
    this.name = store.state.user
  }
}
</script>

<style>
#user {
  position: absolute;
  top: 0px;
  right: 0.55%;
}

#logo {
  position: absolute;
  top: 0px;
  left: 0.55%;
}

.news {
  margin-bottom: 1%;
}
.news__link {
  text-decoration: none;
  color: white;
}

span:hover {
  color: orange;
  transform: scale(1.15);
}
</style>