<template>
  <div class="register">
    <h1>Welcome To</h1> 
    <img alt="logo" src="../assets/logomini.png" />
    <h1 class="register__title">Please Register</h1>
    <form class="register__form" @submit.prevent="createAccount">
      <input type="text" placeholder="username" v-model="username" />

      <input type="password" placeholder="password" v-model="password" />
      <input
        type="password"
        placeholder="confirm password"
        v-model="passwordConfirmation"
      />
      <br />
      <button
        :disabled="!allFieldsValid"
        class="register__btn"
        color="blue"
        type="submit"
        value="Register"
      >
        Register
      </button>

      <h5 v-if="invalidFields">
        Some of the data you introduced seems to be wrong: {{ errorMessage }}
      </h5>
      <h5 v-if="existingUser">The user {{ username }} already exists</h5>
    </form>
  </div>
</template>

<script>
import axios from 'axios'
import router from '../router'
import store from '../store'
export default {
  data() {
    return {
      username: '',
      password: '',
      passwordConfirmation: '',
      errorMessage: '',
      invalidFields: false,
      isDisabled: true,
      validName: false,
      validPassword: false,
      existingUser: false,
      postRequest: 'http://localhost:3300/api/v1/users/',
    }
  },
  computed: {
    _doesNameIncludeSpecialCharacters() {
      let characters = /^[a-z0-9]+$/i
      return !characters.test(this.username)
    },

    _doesPasswordContainACapitalLetter() {
      let characters = /[A-Z]/
      return characters.test(this.password)
    },

    _doesPasswordContainAHashtag() {
      return this.password.includes('#')
    },

    _doPassAndConfirmationMatch() {
      return this.password === this.passwordConfirmation
    },

    allFieldsValid() {
      return this.validName && this.validPassword
    },
  },

  methods: {
    async createAccount() {
      store.dispatch('setUser', this.username)
      const user = { name: this.username, password: this.password }
      try {
        await axios.post(this.postRequest, user)

        router.push({ path: '/intranet' })
      } catch (error) {
        this.existingUser = true
        console.log(error)
      }
    },

    validateUser() {
      this.existingUser = false
      this.validName = false
      this.errorMessage = ''
      if (!this.username || this.username.length < 3) {
        this._showInputInfoError(
          'Your user name must have at least 3 characters '
        )
        return
      }

       if (this.username.length > 15) {
        this._showInputInfoError(
          'Your user name must have a maximum of 15 characters '
        )
        return
      }
      if (this._doesNameIncludeSpecialCharacters) {
        this._showInputInfoError(
          'Your user name must contain only alphanumeric characters'
        )
        return
      }
      this.invalidFields = false
      this.validName = true
    },

    validatePassword() {
      this.validPassword = false
      this.errorMessage = ''

      if (this.password.length < 7) {
        this._showInputInfoError(
          'Your password must have at least 7 characters'
        )
        return
      }


      if(this.password.length > 15){
            this._showInputInfoError('Yor password can only have a max. length of 15 characters')
            return
      }
      if (!this._doesPasswordContainAHashtag) {
        this._showInputInfoError("Your password must contain a '#' ")
        return
      }
      
      if (!this._doesPasswordContainACapitalLetter) {
        this._showInputInfoError('Your password must contain a capital letter')
        return
      }
      if (!this._doPassAndConfirmationMatch) {
        this.invalidFields = true
        this.errorMessage = 'Password and confirmation do not match'
        return
      }
      this.invalidFields = false
      this.validPassword = true
    },

    _showInputInfoError(message) {
      this.invalidFields = true
      this.errorMessage = message
    },
  },

  watch: {
    deep: true,
    immediate: true,
    username: function () {
      this.validateUser()
    },
    password: function () {
      this.validatePassword()
    },

    passwordConfirmation: function () {
      this.validatePassword()
    },
  },
}
</script>

<style>
.register {
  display: flex;
  justify-content: center;
  width: 100;
  flex-wrap: wrap;
}

.register__title {
  text-align: center;

  font-weight: 600;
}

.register__form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.register__form > input {
  border-radius: 17px;
  width: 20%;
}

.register__form > .register__btn :enabled {
  color: #686de0;
  width: 17.5%;
}

.register__btn:hover :enabled {
  transform: scale(1.15);
  background: #686de0;
  color: white;
  border: 0.5px solid white;
}

.register_button:disabled,
.register_button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  pointer-events: none;
}

input {
  text-align: center;
  outline-style: none;
}

.register__form,
.register__link {
  display: flex;
  justify-content: center;
}

.register__title,
.register__form,
.register__link {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
}
.register__link {
  color: white;
}

h5 {
  background-color: white;
  color: red;
}
</style>